body, html {
  font: 14px/24px "Open Sans",sans-serif;
  color: #3b3c3d;

}


.serv-section {
  background-color: #fafafa; /*black*/
  padding: 56px 0 40px;
}

.serv-container {
  /*background-color: white;*/
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;

}

.row {
  /*background-color: lightgreen;*/
}

.serv-items {
  margin-right: 2%;
  margin-bottom: 20px;
  padding: 30px 0 50px;
  background-color: #fff;
  border: 1px solid #eee;
  word-wrap: break-word;
  animation: fadein 2s;
   -moz-animation: fadein 2s; /* Firefox */
   -webkit-animation: fadein 2s; /* Safari and Chrome */
   -o-animation: fadein 2s; /* Opera */

}
 /* Third card in row*/
.serv-items-3 {
  margin-right: 0px;
}

  /* Card animation styles start */
  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

  /* Card animation styles end */

  /* Icon styles */

.icon-container {
  position: relative;
  width: 6em;
  height: 6em;
  margin: 0 auto 1em;
  font-size: 16px;
}

.image {
  display: block;
  width: 100%;
  /*height: auto;*/
  height: 6em;
  border-radius: 50px;
}

.hover-img {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-size: 6em 6em;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .3s ease;
  border-radius: 50px;

}

.hover-img-1 {
  background-image: url("https://svgshare.com/i/Bup.svg");

}

.hover-img-2 {
  background-image: url("https://svgshare.com/i/Bxr.svg");

}

.hover-img-3 {
  background-image: url("https://svgshare.com/i/BxW.svg");

}

.hover-img-4 {
  background-image: url("https://svgshare.com/i/Bxs.svg");

}

.hover-img-5 {
  background-image: url("https://svgshare.com/i/Bz3.svg");

}

.hover-img-6 {
  background-image: url("https://svgshare.com/i/Byb.svg");

}

/*.icon-container:hover .hover-img {
  bottom: 0;
  height: 100%;
}*/

.serv-items a:focus .hover-img, .serv-items a:hover .hover-img  {
  bottom: 0;
  height: 100%;
}

/* Example code
.btn-slack:focus img, .btn-slack:hover img {
  transform: scale(1.5) rotate(18deg);
}*/




  /* Icon styles end */





.serv-items a {
  cursor: pointer;
  text-decoration: none;
}

.serv-item-title {
  color: #222;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 0 30px;
  text-transform: none;
  text-decoration: none;
  margin: 0 0 28px;
  font: open sans,sans-serif;
}

.serv-item-content {
  padding: 0 30px;
  margin-bottom:10px;
  color: #555;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.serv-item-footer {
  font-size: 14px;
  line-height: 19px;
  padding: 0 0 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.serv-item-footer a {
  color: #005eb8;
  text-decoration: none;
}
