/*#############################################*/
/*Cesar*/
/*#############################################*/

.grandgrid{
  display: flex;
  flex-direction: row;
  flex: 0em 0em 25em;
  margin-top: 15vw;
  background-color: black;
}

.grandgridtitle{
  height: auto;
  width: auto;
  color: white;
  margin-top: 8vw;
  text-align: center;
}

.grandgridtitle h2{
  margin-left:  4rem;
  margin-right: 4rem;
  color: white;
  font-size:3vw;
}

.grandgridtitle p{
  margin-left:  4rem;
  margin-right: 4rem;
  color: white;
  font-size:2vw;
}


#landingTitle{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.4px;
  word-spacing: 0.2px;
  color: #EEFFEE;
  top: 60px;
  bottom: 10px;
  text-align: center;
}

#landingimg{
  display: grid;
  grid-template-columns: fit-content(40%) minmax(400px, 1fr);
  grid-template-rows: 1fr 1fr;
  text-align: justify;
  background-image: url(img/landing.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*#############################*/
/*Health button and heart animation*/
/*#############################*/

.circleHealth{
    height: 200px;
    width: 200px;
    background-color: #c40b13;
    border-radius: 50%;
    margin-right: 10vw;
    margin-left: 2vw;
    margin-top: 3vw;
}

.heart {
 position: initial;
  height: 100px;
  width: 100px;
  margin-top: 4rem;
  margin-left: 5rem;
  top: 40px;
  bottom: 10px;

  }

.heart:hover{

  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}

.heart:hover ~ .grandgrid {
  background-color: green;
  color: white;
}

.heart:after {
  content: "";
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
  animation-iteration-count: infinite;
}
.heart:before {
  background-color: pink;
  content: "";
  border-radius: 100%;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
  animation-iteration-count: infinite;
}


@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
}

#healthcaption{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.4px;
  word-spacing: 0.2px;
  color: #EEFFEE;
  top: 5rem;
  text-align: center;
}

/*#############################*/
/*Banking button and animation*/
/*#############################*/

.circleBank{
    height: 200px;
    width: 200px;
    background-color: #b0885f;
    border-radius: 50%;
    margin-left: 8vw;
    margin-top: 3vw;
}

.bank {
  height: 100px;
  width: 100px;
  margin-top: 3rem;
  margin-left: 5rem;
  top: 20px;
  bottom: 10px;
  }

.bank:hover{
  animation-name: floating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}


#bankcaption{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.4px;
  word-spacing: 0.2px;
  color: #EEFFEE;
  top: 5rem;
  text-align: center;
}


/*#############################*/
/*Retail button and animation*/
/*#############################*/

.circleRetail{
    height: 200px;
    width: 200px;
    background-color: #ffb228;
    border-radius: 50%;
    margin-left: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.retail {
  height: 100px;
  width: 100px;
  margin-top: 6rem;
  margin-left: 5rem;
  top: 50px;
  bottom: 10px;
  }

.retail:hover{
  animation-name: moving;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes moving {
	0% {
         transform:rotate(0deg);
	}
    50% {
         transform:rotate(12deg);
	}
    75% {
        transform:rotate(-8deg);
	}
    100% {
        transform:rotate(0deg);
	}
}


#retailcaption{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.4px;
  word-spacing: 0.2px;
  color: #EEFFEE;
  top: 4rem;
  text-align: center;
}


/*#############################*/
/*Research button and animation*/
/*#############################*/

.circleResearch{
    height: 200px;
    width: 200px;
    background-color: #e8ecd6;
    border-radius: 50%;
    margin-left: 8vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.research {
  height: 100px;
  width: 100px;
  margin-top: 5.5rem;
  margin-left: 4.5rem;
  top: 50px;
  bottom: 10px;
  }

.research:hover{
  animation-name: computerre;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  }

@keyframes computerre  {
  0% {
      opacity:0.9;
  }
  50% {
      opacity:0.6;
  }
  100% {
      opacity:0.9;
  }
}


#researchcaption{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.4px;
  word-spacing: 0.2px;
  color: #EEFFEE;
  top: 5rem;
  text-align: center;
}


/*#############################*/
/*Responsiveness for landing*/
/*#############################*/



@media (min-width: 200px) and (max-width: 1324px) {

  #landingimg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    background-image: url(img/landing.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 55rem;
  }

  .grandgrid{
    display: flex;
    flex-direction: column;
    flex: 3 0 55vw;
    margin-top: 20vw;
    background-color: black;
    height: 80vh;
  }

  .circleHealth{
      height: 200px;
      width: 200px;
      background-color: #c40b13;
      border-radius: 50%;
      margin-right: 10vw;
      margin-left: 16vw;
      margin-top: 3vw;
  }

  .heart {
   position: initial;
    height: 100px;
    width: 100px;
    margin-top: 4rem;
    margin-left: 5rem;
    top: 40px;
    bottom: 10px;

    }


  #healthcaption{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.4px;
    word-spacing: 0.2px;
    color: #EEFFEE;
    top: 5rem;
    text-align: center;
  }

  /*#############################*/
  /*Responsive Banking button and animation*/
  /*#############################*/

  .circleBank{
      height: 200px;
      width: 200px;
      background-color: #b0885f;
      border-radius: 50%;
      margin-left: 14vw;
      margin-top: 3vw;
  }

  .bank {
    height: 100px;
    width: 100px;
    margin-top: 3rem;
    margin-left: 5rem;
    top: 20px;
    bottom: 10px;
    }


  #bankcaption{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.4px;
    word-spacing: 0.2px;
    color: #EEFFEE;
    top: 5rem;
    text-align: center;
  }


  /*#############################*/
  /*Responsive Retail button and animation*/
  /*#############################*/

  .circleRetail{
      height: 200px;
      width: 200px;
      background-color: #ffb228;
      border-radius: 50%;
      margin-left: 16vw;
      margin-top: 2vw;
      margin-bottom: 2vw;
  }
  .retail {
    height: 100px;
    width: 100px;
    margin-top: 6rem;
    margin-left: 5rem;
    top: 50px;
    bottom: 10px;
    }

  #retailcaption{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.4px;
    word-spacing: 0.2px;
    color: #EEFFEE;
    top: 4rem;
    text-align: center;
  }


  /*#############################*/
  /*Responsive Research button and animation*/
  /*#############################*/

  .circleResearch{
      height: 200px;
      width: 200px;
      background-color: #e8ecd6;
      border-radius: 50%;
      margin-left: 14vw;
      margin-top: 2vw;
      margin-bottom: 2vw;
  }
  .research {
    height: 100px;
    width: 100px;
    margin-top: 5.5rem;
    margin-left: 4.5rem;
    top: 50px;
    bottom: 10px;
    }


  #researchcaption{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.4px;
    word-spacing: 0.2px;
    color: #EEFFEE;
    top: 5rem;
    text-align: center;
  }

}

/*#############################*/
/*Our track record*/
/*#############################*/


#trackGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (min-width: 100px) and (max-width: 1000px) {

#trackGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 15%;
    margin-right: 15%;
    width: 60vw;
  }
}


/*#############################*/
/*statistics*/
/*#############################*/

.statistics{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-column-gap: 18vw;
  margin-top: 50px;
  margin-left: -12vw;
}

.orangebox{
  position: relative;
  height:  40vh;
  width: 25vw;
  font-size: 50px;
  line-height: 4vh;
  background-color: hsla(29, 100%, 50%, 0.65);
}

.orangebox::before{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 25vw;
  background: url("http://www.freeimageslive.com/galleries/transtech/informationtechnology/preview/keyboard_buttons.jpg")no-repeat center center /cover;;
  content: '';
  z-index: -1;

}

.orangebox h1{
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  width: 20vw;
  padding: 10rem 0rem 0rem 10rem;
}

.orangebox p{
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
  text-align: center;
  width: 25vw;
}


.bluebox{
  position: relative;
  height:  40vh;
  z-index: 1;
  font-size: 50px;
  line-height: 4vh;
}

.bluebox::before{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 25vw;
  background: url("http://www.freeimageslive.com/galleries/transtech/electronics/preview/03250022.jpg")no-repeat center center /cover;;
  content: '';
  -webkit-filter: invert(18%) sepia(100%) saturate(600%) hue-rotate(204deg) brightness(50%) contrast(80%);
  filter: invert(18%) sepia(100%) saturate(600%) hue-rotate(204deg) brightness(50%) contrast(80%);
  z-index: -1;

}

.bluebox h1{
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  width: 20vw;
  padding: 10rem 0rem 0rem 10rem;

}

.bluebox p{
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
  width: 25vw;
}


.violetbox{
  position: relative;
  height:  40vh;
  width: 25vw;
  font-size: 50px;
  line-height: 4vh;
  background-color: hsla(274, 100%, 50%, 0.59);
}

.violetbox::before{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 25vw;
  background: url("http://www.freeimageslive.com/galleries/transtech/informationtechnology/preview/keyboard_buttons.jpg")no-repeat center center /cover;;
  content: '';
  z-index: -1;

}

.violetbox h1{
  color: white;
  font-size: 3rem;
  font-weight: bold;
  width: 20vw;
  text-align: center;
  padding: 10rem 0rem 0rem 10rem;

}

.violetbox p{
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
  width: 25vw;
}

.ShineIcon {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  }

.ShineIcon:hover{

  animation-duration: 1s;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

/*#############################*/
/*Responsiveness for boxes*/
/*#############################*/

@media (max-width: 1600px){
.statistics{
  margin-left: -8vw;
}
}

@media (max-width: 1500px){
.statistics{
  margin-left: -8vw;
}
}

@media (max-width: 1400px){
.statistics{
  margin-left: -6vw;
}
}

@media (max-width: 1300px){
.statistics{
  margin-left: -6vw;
}
}


@media (max-width: 1300px){

  .statistics{
    display: grid;
    grid-template-columns: 200px;
    margin-top: 50px;
    margin-left: 12%;
  }

  .orangebox{
    position: relative;
    height:  40vh;
    width: 65vw;
    font-size: 50px;
    line-height: 4vh;
    background-color: hsla(29, 100%, 50%, 0.65);
  }

  .orangebox::before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 65vw;
    background: url("http://www.freeimageslive.com/galleries/transtech/informationtechnology/preview/keyboard_buttons.jpg")no-repeat center center /cover;;
    content: '';
    z-index: -1;

  }

  .orangebox h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    width: 45vw;
    padding: 4vw 0vw 0vw 20vw;
  }

  .orangebox p{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding: 3.5rem;
    width: 50vw;
    padding: 4vw 0vw 0vw 15vw;
  }


  .bluebox{
    position: relative;
    height:  40vh;
    z-index: 1;
    font-size: 50px;
    line-height: 4vh;
    width: 65vw;
  }

  .bluebox::before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 65vw;
    background: url("http://www.freeimageslive.com/galleries/transtech/electronics/preview/03250022.jpg")no-repeat center center /cover;;
    content: '';
    -webkit-filter: invert(18%) sepia(100%) saturate(600%) hue-rotate(204deg) brightness(50%) contrast(80%);
    filter: invert(18%) sepia(100%) saturate(600%) hue-rotate(204deg) brightness(50%) contrast(80%);
    z-index: -1;

  }

  .bluebox h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 40vw;
    padding: 4vw 0vw 0vw 25vw;

  }

  .bluebox p{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 45vw;
    padding: 4vw 0vw 0vw 20vw;
  }


  .violetbox{
    position: relative;
    height:  40vh;
    width: 65vw;
    font-size: 50px;
    line-height: 4vh;
    background-color: hsla(274, 100%, 50%, 0.59);
  }

  .violetbox::before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 65vw;
    background: url("http://www.freeimageslive.com/galleries/transtech/informationtechnology/preview/keyboard_buttons.jpg")no-repeat center center /cover;;
    content: '';
    z-index: -1;

  }

  .violetbox h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    width: 40vw;
    text-align: center;
    padding: 4vw 0vw 0vw 25vw;

  }

  .violetbox p{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 4vw 0vw 0vw 8vw;
    width: 60vw;
  }

 }


/*#############################*/
/*Testimonials*/
/*#############################*/

 /*https://codepen.io/mephysto/pen/ZYVKRY*/

 .col-md-18{
   margin-left: auto;
 }

 .multi-item-carousel{

   .carousel-inner{
     > .item{
       transition: 500ms ease-in-out left;

     }
     .active{
       &.left{
         left:-33%;
       }
       &.right{
         left:33%;
       }
     }
     .next{
       left: 33%;
     }
     .prev{
       left: -33%;
     }
     @media all and (transform-3d), (-webkit-transform-3d) {
       > .item{
         // use your favourite prefixer here
         transition: 500ms ease-in-out left;
         transition: 500ms ease-in-out all;
         backface-visibility: visible;
         transform: none!important;
       }
     }
   }
   .carouse-control{
     &.left, &.right{
       background-image: none;
     }
   }
 }


 .carouselImg{
   width: 80vw;
   height: 25vh;
 }

 .Testimonialbox{
   position: relative;
   height:  40vh;
   width: 90vw;
   font-size: 50px;
   line-height: 4vh;
   background-color: hsla(189, 100%, 40%, 0.59);
 }

 .Testimonialbox::before{
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   height: 100%;
   background: url("http://www.freeimageslive.com/galleries/transtech/informationtechnology/preview/keyboard_buttons.jpg")no-repeat center center /cover;;
   content: '';
   z-index: -1;

 }

 .Testimonialbox h1{
   color: white;
   font-size: 3rem;
   font-weight: bold;
   width: 60vw;
   text-align: center;
   padding: 10rem 0rem 0rem 1rem;

 }

 .Testimonialbox p{
   color: white;
   font-size: 3rem;
   font-weight: bold;
   text-align: center;
   padding: 10rem 10rem 0rem 0rem;
   width: 40vw;
 }

 /*#############################*/
 /*Testimonials Responsiveness*/
 /*#############################*/


@media (max-width: 1300px){

  .col-md-18{
    margin-left: 1%;
  }

   .Testimonialbox{
     position: relative;
     height:  40vh;
     width: 90vw;
     font-size: 50px;
     line-height: 4vh;
     background-color: hsla(189, 100%, 40%, 0.59);
   }

   .Testimonialbox::before{
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     height: 100%;
     background: url("http://www.freeimageslive.com/galleries/transtech/informationtechnology/preview/keyboard_buttons.jpg")no-repeat center center /cover;;
     content: '';
     z-index: -1;

   }

   .Testimonialbox h1{
     color: white;
     font-size: 3rem;
     font-weight: bold;
     width: 80vw;
     text-align: center;
     padding: 5rem 0rem 0rem -14rem;

   }

   .Testimonialbox p{
     color: white;
     font-size: 3rem;
     font-weight: bold;
     padding: 10rem 0rem 0rem 2rem;
     width: 30vw;
   }
 }

 @media (max-width: 1000px){

   .col-md-18{
     margin-left: -1%;
     width: 80vw;
   }

    .Testimonialbox{
      position: relative;
      height:  40vh;
      width: 100vw;
      font-size: 50px;
      line-height: 4vh;
      background-color: hsla(189, 100%, 40%, 0.59);
    }

    .Testimonialbox::before{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 100%;
      background: url("http://www.freeimageslive.com/galleries/transtech/informationtechnology/preview/keyboard_buttons.jpg")no-repeat center center /cover;;
      content: '';
      z-index: -1;

    }

    .Testimonialbox h1{
      color: white;
      font-size: 3rem;
      font-weight: bold;
      width: 80vw;
      text-align: center;
      padding: 5rem 0rem 0rem -14rem;

    }

    .Testimonialbox p{
      color: white;
      font-size: 3rem;
      font-weight: bold;
      padding: 10rem 0rem 0rem 2rem;
      width: 30vw;
    }
  }




 /*#############################*/
 /*Map*/
 /*#############################*/
.map{
   margin-left: 35vw;
 }
